{% extends 'base.html' %}

{% block content %}

    <div class="card bg-dark text-white">
        <img class="card-img" src="static/images/629f2f5536_87955_11-1440.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h4 id="titre-image">Bienvenue dans notre association</h4>
        </div>
      </div>
    

            <h2 id="qui">qui sommes-nous ?</h2>

    <p>Eau et Rivières de Bretagne est une association de protection de l'environnement. 
        Sa première mission : défendre et protéger la qualité de l'eau et des milieux aquatiques. 
        Découvrez ici son histoire, ses missions, son organisation, ses réseaux...</p>

    <h2>Notre histoire</h2>

    <p>Eau et Rivières de Bretagne ne s'est pas toujours appellée ainsi. 
        L'association a été fondée en 1969 par des pêcheurs inquiets de la disparition du saumon dans les eaux bretonnes. 
        L'APPSB, association pour la protection et la production du saumon en Bretagne, 
        organisait au tout début de son histoire des chantiers rivières. Depuis les missions de l'association se sont étendues.</p>

    <h2>Nos missions</h2>

    <p>Association loi 1901 à vocation régionale, 
        Eau et Rivières de Bretagne oeuvre pour la restauration et la protection de la ressource en eau et des milieux aquatiques. 
        Elle agit selon quatre grands axes.</p>

    <h3>INFORMER pour développer l’éco-citoyenneté</h3>

    <p>Eau & Rivières traduit vos préoccupations : biodiversité, 
        pesticides, zones humides, économies d’eau, déchets, agriculture durable, 
        algues vertes, réchauffement climatique, inondations…</p>

        <ul>
            <li>par les actions de ses délégations</li>
            <li>par son magazine, son site web</li>
            <li>par ses colloques, conférences, journées techniques...</li>
        </ul>

    <h3>SENSIBILISER pour mieux protéger</h3>

    <ul>
        <li>par une pédagogie adaptée aux scolaires comme au grand public</li>
        <li>en développant des campagnes de sensibilisation grand public</li>
        <li>en créant et diffusant des outils de sensibilisation (livret, expositions, guides de randonnées...)</li>
        <li>en gérant l’aquarium public des curieux de nature</li>
    </ul>

    <h3>PARTICIPER pour faire entendre votre voix et celle de la nature</h3>

    <ul>
        <li>aux enquêtes publiques et consultations</li>
        <li>dans les commissions régionales ou locales</li>
        <li>aux stands de l’association</li>
        <li>lors de manifestations et actions de contestations.</li>
    </ul>

    <h3>AGIR pour changer la société</h3>

    <ul>
        <li>par le recours aux tribunaux et la défense du droit de l’environnement</li>
        <li>en contribuant au débat public et en mettant en valeur nos positionnements</li>
        <li>en jouant un rôle de sentinelle sur les rivières</li>
    </ul>

    <h2>Notre réseau</h2>

    <p>Eau & Rivières de Bretagne représente plus de 1 200 adhérents. 
        Elle travaille avec une centaine d'associations membres. 
        Grâce à elles, l'association a imposé la question de l'eau dans 
        le débat public et relayé un des sujets de préoccupation majeure des Bretons.</p>
        
    <p>Notre association est membre fondatrice de la Fédération Bretagne nature environnement (FBNE), 
        elle-même membre de France nature environnement (FNE).</p>

    <p>Eau et Rivières de Bretagne est soutenue par de nombreux partenaires publics et également par des partenaires privés.</p>

    <p>Association agréée au titre de la protection de la nature, de la défense des consommateurs, 
        de l'éducation nationale et de l'éducation populaire.</p>



        <div class="card bg-dark text-white">
            <img class="card-img" src="static/images/doubs_riviere.jpg" alt="Card image">
            <div class="card-img-overlay">
              <h4 class="card-title">Notre organisation</h4>
              <p class="card-text">Libre de toute appartenance politique, syndicale, professionnelle et confessionnelle, 
                Eau & Rivières de Bretagne oeuvre en toute indépendance et de manière désintéressée dans les cinq départements bretons, 
                et la Manche.
        
                Elle est pilotée par un Conseil d'administration, aidée d'une équipe de 20 permanents répartis dans toute la Bretagne.</p>
            </div>
          </div>            


{% endblock %}